*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    background-image: url(images/bg-header-desktop.png), linear-gradient(0deg, rgba(255,255,255,0.5324511201839882) 21%, rgba(159,171,178,0.8125814133435973) 100%);
    background-size: cover;
    background-position: center center;
}
.showcase , .install{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
}
.showcase .container{
    width: 100%;
    height: 40%;
}
.showcase img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.showcase h2{
    font-size: 40px;
    font-weight: 600;
}
.showcase p{
    font-size: 20px;
}
.download{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.download_btn{
    width: 45%;
    height: 100%;
    color: #fff;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 50px;
}
.one{
    background-color: hsl(171, 66%, 44%);
    box-shadow:0px 3px hsla(171, 64%, 33%, 0.789)
}
.two{
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 3px hsla(233, 66%, 60%, 0.462);
}
.keep-track{
    width: 100%;
    height: 90Vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px 0;
}
.keep-track h3{
    font-size: 30px;
}
.keep-track p{
    margin: 10px 0;
}
.keep-track .lower{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.keep-track .lower .lower-left,.keep-track .lower .lower-right{
    width: 45%;
}
.keep-track .lower .lower-left img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.lower .lower-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.lower .lower-right .feature{
    width: 100%;
    height: 25%;
    text-align: start;
}
.feature h5{
    font-size: 24px;
}
.feature p{
    margin-top: 10px;
}
.accessibility{
width: 100%;
height: 90vh;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;
text-align: center;
margin: 50px 0;
}
.accessibility .small-container{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.accessibility h3{
    font-size: 30px;
}
.accessibility img{
    width: 100%;
    height: 75%;
    object-fit: contain;
}
.tools{
width: 100%;
height: 40vh;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;
text-align: center;
margin: 50px 0;
}
.tools h3{
    font-size: 30px;
}
.tools .container{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
}
.tools .container .tool{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.tool img {
    width: 100%;
    height: 40%;
    object-fit: contain;
}
.tool h5 {
    width: 100%;
    height: 10%;
}
.tool p {
    width: 100%;
    height: 30%;
}
.brands{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 50px 0;
}
.brand{
    width: 18%;
    height: 100%;
}
.brand img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.install{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 50px 0;
}
.install .download{
    height: 30%;
}
.install h3{
    font-size: 30px;
}

footer{
    width: 100%;
    height: 15vh;
    background-color: #F5F6F8;
}
footer .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.footer-logo{
    width: 20%;
    height: 100%;
}
.social-icons{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.footer-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer-menu{
    width: 50%;
    height: 100%;
    display: flex;
}
.f-menu{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
.f-menu a{
    display: block;
    text-decoration: none;
    color: #000;
}

.social-icons a{
    display: block;
    float: right;
    width:33.33%;
    text-align: right;
}
